@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #f13024, 0 0 10px #f13024, 0 0 20px #f13024;
    color: #f13024;
  }
  50% {
    text-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff4d4d, 0 0 40px #ff4d4d;
    color: #ff4d4d;
  }
}

.glow {
  animation: glow 1.5s infinite alternate;
}


.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

/* Tailwind + custom text glow */
@keyframes glowToggle {
  0%, 50%, 100% {
    text-shadow: none; /* no glow */
  }
  25%, 75% {
    text-shadow: 0 0 10px #f13024, 0 0 20px #f13024; /* glow ON */
  }
}

.text-glow-toggle {
  animation: glowToggle 1s infinite; /* 1s for toggle speed */
}


@layer base {
  body {
    @apply bg-secondary overflow-x-hidden leading-relaxed;
  }
  .page {
    @apply w-full min-h-screen;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 rounded-lg resize-none;
  }
}
